.page-wrapper {
	font-family: Myriad Pro;
}
h1 {
	text-transform: uppercase;
	word-spacing: 10px;
	padding: 0;
	margin: 0;
}
.title-line {
	display: inline-block;
	width: 80px;
	height: 3px;
	position: relative;
	top: -5px;
}
.header {
	background: #87509C;
	padding: 30px 0;
}
.container {
	width: 80%;
	margin: auto;
}
.header-panel-right {
	text-align: center;
}
.header .logo img {
	height: 60px;
}
.header .menu ul {
	margin: 0;
	padding: 0;
}
.header .menu ul li {
	display: inline-block;
    padding: 5px 15px;
    border-radius: 5px;
    margin-right: 15px;
    cursor: pointer;
}
.header .menu ul li a {
	text-decoration: none;
    color: #FAF9FB;
    text-transform: uppercase;
    font-size: 14px;
}
.header .header-panel-right .active {
	background: #643A79;
}
.hidden {
	display: none;
}
.main-banner {
	background: #87509C;
	padding: 50px 100px 150px 50px;
}
.center {
	text-align: center;
}
.title-banner {
    color: #F6F1E9;
}
.button-banner {
	margin-top: 30px;
}
.button-banner .button {
	padding: 12px 45px;
	background: #EB7D4B;
	color: #FCEBE5;
	text-transform: uppercase;
	border: none;
	border-radius: 3px;
	border-bottom: 2px solid #AC5F67;
}
.main-service {
	background: #17C2A4;
	padding: 100px 0;
}
.title-service {
	margin-bottom: 50px;
}
.title-service h1 {
	color: #fff;
}
.main-service .title-line {
	background-color: #14A58C;

}
.title-service p {
	color: #F2FBF9;
	margin-top: 10px;
}
.content-service {
	color: #fff;
}
.content-service img {
	width: 150px;
	height: 150px;
}
.content-service h3 {
	text-transform: uppercase;
	font-size: 20px;
	margin: 30px 0 15px 0;
}
.content-service p {
	font-size: 15px;
	padding: 0 40px;
}
.main-team {
	background: #E7F1F8;
	padding: 80px 0 100px 0;
}
.main-team .title-team h1 {
	color: #3C4761;
}
.main-team .title-line {
	background-color: #C6D8E4;
}
.content-team {
	margin-top: 60px;
}
.content-team .circle {
    width: 170px;
    height: 170px;
    background: #878787;
    border-radius: 50%;
    margin: auto;
}
.content-team h3 {
	text-transform: uppercase;
    font-size: 21px;
    margin-top: 25px;
    font-weight: bold;
}
.content-team h5 {
	color: #58C5EA;
	font-size: 16px;
	font-weight: 400;
}
.content-team p {
	color: #6D7789;
	font-size: 14px;
	padding: 5px 40px;
}
.content-team .icon {
	height: 30px;
    width: 30px;
    color: white;
    background: #BDD1DF;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.main-skills {
	padding: 80px 0;
	color: #FFFFFF;
}
.title-skills h1 {
	color: #3B4660;
}
.title-skills .title-line {
	background-color: #DDE7EC;
}
.title-skills p {
	color: #646B7F;
	margin-top: 5px;
}
.content-skills {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.content-skills .card {
	position: relative;
	height: 200px;
	text-align: center;
	z-index: 10;
	border: none;
}
.content-skills .card .box {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-skills .percent {
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	z-index: 100;
}
.content-skills .percent .number {
	position: absolute;
	top: 0;
	left: 5px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.content-skills .percent .number h2 {
	color: #303C57;
	font-weight: 300;
	font-size: 45px;
}
.content-skills .percent .number h2 span {
	font-size: 24px;
}
.content-skills .text {
	color: #38435D;
	position: absolute;
	bottom: -20px;
    left: 50%;
    transform: translate(-50%);
    font-weight: 700;
    font-size: 18px;
    width: 100%;
}
.content-skills svg {
	position: relative;
	width: 150px;
	height: 150px;
	transform: rotate(-90deg);
}
.content-skills svg circle {
	width: 100%;
	height: 100%;
	fill: none;
	stroke-width: 10;
	stroke: #DEE8ED;
	transform: translate(5px, 5px);
}
.content-skills svg circle:nth-child(2) {
	stroke-dasharray: 440px;
	stroke-dashoffset: 80px;
}
.content-skills .card:nth-child(1) svg circle:nth-child(2) {
	stroke: #30BAE7;
	stroke-dashoffset: calc(440px - (440px * 90)/100);
}
.content-skills .card:nth-child(2) svg circle:nth-child(2) {
	stroke: #D74680;
	stroke-dashoffset: calc(440px - (440px * 75)/100);
}
.content-skills .card:nth-child(3) svg circle:nth-child(2) {
	stroke: #15C7A8;
	stroke-dashoffset: calc(440px - (440px * 70)/100);
}
.content-skills .card:nth-child(4) svg circle:nth-child(2) {
	stroke: #EB7D4B;
	stroke-dashoffset: calc(440px - (440px * 85)/100);
}
.main-ourport {
	background: #FFDD99;
	padding: 80px 0;
}
.title-outport h1 {
	color: #343537;
}
.title-outport .title-line {
	background: #E4C27E;
}
.title-outport p {
	color: #504C44;
}
.menu-ourport ul {
	margin: 0;
	padding: 0;
}
.menu-ourport ul li {
	display: inline-block;
	margin: 5px;
}
.main-ourport .active {
	background: #fff;
}
.menu-ourport a {
	text-decoration: none;
	color: #4B4B4B;
	padding: 10px 20px;
	background: #EBC985;
	border-radius: 3px;
}
.menu-ourport a:hover {
	text-decoration: none;
	color: #4B4B4B;
}
.content-ourport {
	margin-top: 50px;
}
.content-ourport .item {
	margin-bottom: 20px;
}
.content-ourport .item img {
	width: 100%;
    height: auto;
}
.content-ourport h4 {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 400;
	color: #7F735A;
	margin: 20px 0;
}
.content-ourport .load-more button {
	text-transform: uppercase;
	padding: 10px 30px;
	color: #DCF3EE;
	background: #17C2A4;
	border-radius: 5px;
	border: 0;
	border-bottom: 2px solid #0CA38B;

}
.main-reviews {
	background: #D74680;
	padding: 80px;
}
.title-reviews h1 {
	color: #FEFEFE;
}
.title-reviews .title-line {
	background: #B53C6C;
}
.title-reviews p {
	color: #FEFEFE;
}
.content-reviews {
	margin-top: 50px;
}
.content-reviews .item {
	display: flex;
	margin-bottom: 60px;
}
.content-reviews .item .avatar {
	flex: 1;
}
.content-reviews .item .avatar div {
	height: 80px;
	width: 80px;
	background: #787878;
	border-radius: 50%;
}
.content-reviews .item .comment {
	flex: 3;
    padding-left: 50px;
    padding-right: 120px;
    text-align: start;
}
.content-reviews .item .comment i {
	font-size: 17px;
	color: #F6DDE5;
	margin-bottom: 20px;
}
.content-reviews .item .comment h4 {
	margin-top: 20px;
	margin-bottom: 0;
	color: #fff;
	text-transform: uppercase;
}
.content-reviews .item .comment p {
	color: #F9C995;
}
.main-contact {
	background: #3C5499;
	padding: 80px 0;
}
.title-contact h1 {
	color: #FFFFFF;
}
.title-contact .title-line {
	background: #25386E;
}
.title-contact p {
	color: #CDD1E2;
}
.content-contact {
	margin-top: 50px;
	padding: 0 80px;
}
.content-contact .row {
	margin-bottom: 35px;
}
.content-contact input {
	height: 50px;
}
.content-contact input, textarea {
	width: 100%;
    border-radius: 5px;
    border: none;
    background: #273A71;
}
.content-contact input::placeholder {
	color: #EEEEF1;
	padding: 0 20px;
}
.content-contact textarea::placeholder {
	color: #EEEEF1;
	padding: 10px 20px;
}
.content-contact button {
	text-transform: uppercase;
	color: #FCFDFE;
	background: #30BAE7;
	border-radius: 5px;
	border: none;
	padding: 15px 65px;
	border-bottom: 3px solid #2A9BC3;
}
.footer {
	background: #344B8E;
	padding: 20px 0;
}
.menu-footer ul {
	margin: 0;
}
.menu-footer ul li {
	display: inline-block;
	padding: 10px 20px;
}
.menu-footer ul li a {
	color: #F3F5F8;
	list-style-type: none;
	text-decoration: none;
	font-size: 17px;
}
.menu-footer .active a {
	color: #30B2E0;
}

@media(max-width: 767px) {
	.header-panel-left {
		display: flex;
		justify-content: space-between;
	}
	.header-panel-right {
    	text-align: left;
	}
	.header .menu {
		position: absolute;
		width: 100%;
		top: 32px;
		left: 0;
		background: black;
		padding-bottom: 50px;
		display: none;
	}
	.header .row.active .menu {
		display: initial;
	}
	.header .menu ul li {
		width: 100%;
		border-radius: 0;
		padding: 15px 30px;
	}
	.menuToggle {
		position: relative;
		width: 35px;
		height: 60px;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.menuToggle::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 3px;
		background: #fff;
		transform: translateY(-12px);
		box-shadow: 0 12px #fff;
	}
	.menuToggle::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 3px;
		background: #fff;
		transform: translateY(12px);
	}
	.header .row.active .menuToggle::before {
		transform: rotate(45deg);
		box-shadow: 0 0 #fff;
	}
	.header .row.active .menuToggle::after {
		transform: rotate(315deg);
	}
	.main-banner, .main-service, .main-team, .main-skills, .main-ourport, .main-reviews, .main-contact, .footer {
		padding: 50px 0 !important;
	}
	h1 {
		font-size: 27px !important;
		word-spacing: 1px;
	}
	h2 {
		font-size: 24px !important;
	}
	.main-service .item img {
		width: 100px;
		height: 100px;
	}
	.main-service .item h3 {
		margin: 0;
	}
	.main-team .content-team .item {
		margin-bottom: 40px;
	}
	.main-skills .card {
		height: 220px !important;
	}
	.main-skills .card .text {
		bottom: -5px;
	}
	.content-reviews .item {
		margin-bottom: 20px;
	}
	.content-reviews .item .comment {
		padding-left: 20px;
		padding-right: 0;
	}
	.content-reviews .item .comment i {
		font-size: 14px;
	}
	.content-reviews .item .comment h4 {
		margin-top: 5px;
		font-size: 20px;
	}
	.content-reviews .item .comment p {
		font-size: 15px;
	}
	.content-contact {
		padding: 0;
	}
	.content-contact .row {
		margin-bottom: 0;
	}
	.content-contact input {
		margin-bottom: 20px;
	}
	.content-contact textarea {
		margin-bottom: 20px;
	}
	.menu-footer ul {
		padding: 0;
	}
}
@media(max-width: 1023px) and (min-width: 768px) {
	.main-team .content-team .item {
		margin-bottom: 40px;
	}
	.content-skills .card {
		height: 220px;
	}
	.content-skills .text {
		bottom: -5px;
	}
	.content-reviews .item .comment {
		padding-right: 0;
		padding-left: 25px;
	}
	.content-reviews .item .comment h4 {
		font-size: 20px;
	}
}
